{% extends "courses/base-course.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block view-name %}view-course-home view-dashboard{% endblock view-name %}

{% block lens_navigation %}
  {#  This is a simplified version of lens-navigation.html. #}

  {#  Translators: Application here refers to the web site/application being used (e.g. the dashboard). #}
  <nav class="navbar navbar-default lens-nav" role="navigation" aria-label="{% trans "Application" %}">
    <div class="grid-container">
      <ul class="nav navbar-nav">
        <li class="active nav-section">
          <div class="course-label">{% trans "Course Home" %}</div>
          <span class="sr-only">({% trans "Active" %})</span>
        </li>

        {% for item in primary_nav_items %}
          <li>
              {% captureas lens_url %}{{ item.href }}{{ item.fragment }}{% endcaptureas %}
              <a href="{{ lens_url }}" data-track-type="click"
                  data-track-event="edx.bi.ui.menu.navigated" data-track-text="{{ item.text }}"
                  data-track-url="{{ lens_url }}" data-track-target-scope="{{ item.scope }}"
                  data-track-target-lens="{{ item.lens }}" data-track-target-report="{{ item.report }}"
                  data-track-target-depth="{{ item.depth }}" data-track-menu-depth="lens"
                  data-track-link-name="{{ item.lens }}"><span class="link-label">
                  {% if item.lens == 'enrollment' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12.249" height="14" viewBox="0 0 12.249 14">
                    <path d="M8.733,8.765,6.125,11.373,3.516,8.765A3.667,3.667,0,0,0,0,12.423v.262A1.313,1.313,0,0,0,1.312,14h9.625a1.313,1.313,0,0,0,1.312-1.312v-.262A3.667,3.667,0,0,0,8.733,8.765ZM.372,2.181l.175.041v1.6A.632.632,0,0,0,.522,4.912L.1,6.616C.049,6.8.153,7,.3,7H1.446c.15,0,.254-.194.208-.383l-.427-1.7A.632.632,0,0,0,1.2,3.819V2.38l1.8.435A3.493,3.493,0,1,0,9.625,4.374a3.437,3.437,0,0,0-.383-1.559l2.633-.634a.435.435,0,0,0,0-.861L6.669.062a2.349,2.349,0,0,0-1.085,0L.372,1.317a.437.437,0,0,0,0,.864Z" transform="translate(0 0.002)"/>
                  </svg>
                  {% elif item.lens == 'engagement' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path d="M16.944,4.5H6.056A1.56,1.56,0,0,0,4.5,6.056V16.944A1.56,1.56,0,0,0,6.056,18.5H16.944A1.56,1.56,0,0,0,18.5,16.944V6.056A1.56,1.56,0,0,0,16.944,4.5ZM9.167,15.389H7.611V9.944H9.167Zm3.111,0H10.722V7.611h1.556Zm3.111,0H13.833V12.278h1.556Z" transform="translate(-4.5 -4.5)"/>
                  </svg>
                  {% endif %}
                {{ item.translated_text }}
              </span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block child_content %}
  <div class="course-home-table-outer">
    {% for column in table_items %}
      <div class="course-home-section">
        <header class="heading-outer">
          <div class="heading">{{ column.heading }}</div>
        </header>

        <div class="course-home-table">
          <div class="item name">
            <span class="ico fa {{ column.icon }}" aria-hidden="true"></span> {{ column.translated_name }}
          </div>

          {% for item in column.items %}
            <div class="item">
              {% captureas report_url %}{% url item.view course_id=course_id %}{{ item.fragment }}{% endcaptureas %}
              <div class="title"><a href="{{ report_url }}"
                data-track-type="click" data-track-event="edx.bi.course.question_clicked"
                data-track-category="{{ column.name|lower }}" data-track-question="{{ item.title }}"
                data-track-url="{{ report_url }}" data-track-target-scope="{{ item.scope }}"
                data-track-target-lens="{{ item.lens }}" data-track-target-report="{{ item.report }}"
                data-track-target-depth="{{ item.depth }}">
                {{ item.translated_title }}
              </a></div>
              <div class="breadcrumbs">
                <span class="ico fa {{ column.icon }}" aria-hidden="true"></span>
                <span class="ico fa fa-caret-right" aria-hidden="true"></span>
                {% for breadcrumb in item.breadcrumbs %}
                  {{ breadcrumb }}
                  {% if not forloop.last %}
                    <span class="ico fa fa-caret-right" aria-hidden="true"></span>
                  {% endif %}
                {% endfor %}
                {% if item.format == "csv" %}
                  {# Translators: This indicates that the adjacent link will trigger a CSV download. '{{download_icon}}' will be replaced with an icon. #}
                  {% blocktrans with download_icon='<span class="ico fa fa-download" aria-hidden="true"></span>' %}
                    ({{download_icon}} CSV Download)
                  {% endblocktrans %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if course_overview or external_course_tools %}
    <div class="row">
      <div class="col col-12 sm-col-12"><hr></div>
    </div>

    <div class="row">
      <div class="col col-12 sm-col-12 md-col-8">
        {% if course_overview %}
          <h4 class="section-title">{% trans "Basic Course Information" %}</h4>
          <table class="table course-overview" role="presentation">
            <tbody>
              {% for label, value in course_overview %}
                <tr><th>{{label}}</th><td>{{value|safe}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      {% if external_course_tools %}
        <div class="col col-12 sm-col-12 md-col-4">
          {# Translators: This title describes a list of links to outside tools for this course. #}
          <h4 class="section-title">{% trans "External Tools" %}</h4>  
          <ul class="course-external-tools">
            {% for tool in external_course_tools %}
              <li><a href="{{tool.url}}"><span class="ico fa {{tool.icon}}" aria-hidden="true"></span>{{tool.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
