{% extends "base.html" %}


{% load i18n %}
{% load staticfiles %}
{% load dashboard_extras %}
{% load fec %}

{% block title %}{% settings_value 'FULL_APPLICATION_NAME' %}{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ 'insightslanding.css'|fec_url }}" type="text/css">
    <script type="application/json" id="edt-page-metadata">
    {{ enhenced_theme|escape_json}}
    </script>
{% endblock stylesheets %}

{% block body %}
    <body class="landing">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
{% endblock body %}

{% block javascript %}
<script type="text/javascript" src="{{ 'insightslanding.min.js'|fec_url }}"></script>
{% endblock javascript %}
