{% extends "base.html" %}


{% load i18n %}
{% load staticfiles %}
{% load dashboard_extras %}


{% block title %}{% settings_value 'FULL_APPLICATION_NAME' %}{% endblock title %}

{% block stylesheets %}
    {% if lms_theme_url %}
    <link rel="stylesheet" href="/static/fec/insightslanding.css" type="text/css">
    <script type="application/json" id="edt-page-metadata">
    {{ enhenced_theme|escape_json}}
    </script>
    {% endif %}
{% endblock stylesheets %}

{% block body %}
    <body class="landing">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>

        {% if lms_theme_url %}
        <script type="text/javascript" src="/static/fec/insightslanding.min.js"></script>
        {% endif %}
    </body>
{% endblock body %}

{% block javascript %}
  
{% endblock javascript %}
