{% load staticfiles %}
{% load i18n %}
{% load dashboard_extras %}
{% load fec %}

{% captureas insights_url %}/{% endcaptureas %}
<a class="{{ class_prefix }}-brand" href="{{ insights_url }}" data-track-type="click"
    data-track-event="edx.bi.ui.menu.navigated" data-track-url="{{ insights_url }}" data-track-target-scope="insights"
    data-track-target-lens="home" data-track-menu-depth="home" data-track-link-name="logo">
  <img class="{{ class_prefix }}-brand-logo-img" alt="{% settings_value 'PLATFORM_NAME' %}" src="{{ 'assets/images/logo.png'|fec_url }}"/>
</a>
