{% load i18n %}
{% load dashboard_extras %}
{% load fec %}

{#  Translators: Application here refers to the web site/application being used (e.g. the dashboard). #}
<footer class="footer" aria-label="{% trans "Application" %}">
  {% if show_feedback %}
  <div class="feedback">
    <div class="insights-container">
      <div class="feedback-container">
        <img alt="" src="/static/images/team-support.svg" />
        <div class="text">
          <div class="support-link-start">{% captureas support_link_start %}</div>
          <a class="support-email" href="mailto:{% settings_value 'SUPPORT_EMAIL' %}">{% endcaptureas %}
            {% captureas support_link_end %}</a>{% endcaptureas %}

          {% blocktrans trimmed %}We want this dashboard to work for you! Need help? {{ support_link_start }}Contact
          course team support{{ support_link_end }}.{% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <link href="{{ 'stylesheets/edutechfooter.min.css'|fec_url }}" rel="stylesheet">
  <script type="application/json" id="edt-page-metadata">
  {{ enhenced_theme|escape_json}}
  </script>
  <div id="edt-footer"></div>
  <script type="text/javascript" src="{{ 'javascripts/edutechfooter.min.js'|fec_url }}"></script>
</footer>