{% load i18n %}
{% load dashboard_extras %}

{% comment %}
Partial: App-wide header element
{% endcomment %}

{% include "_skip_link.html" with content_id="content" %}
<header class="navbar navbar-default" id="nav">
  <div class="navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {% include 'brand.html' with class_prefix='navbar' %}
      {% if course_id %}
      <ul class="nav navbar-nav">
        <li>
            {% captureas course_home_url %}{% url 'courses:home' course_id=course_id %}{% endcaptureas %}
            <a href="{{ course_home_url }}" class="navbar-link active-course-name"
                data-track-type="click" data-track-event="edx.bi.ui.menu.navigated"
                data-track-text="{% firstof course_name course_id %}"
                data-track-url="{{ course_home_url }}" data-track-target-scope="course"
                data-track-target-lens="home" data-track-menu-depth="home" data-track-link-name="course_title">
                {% firstof course_name course_id %}</a>
        </li>
      </ul>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        {% if help_url %}
          <li>
            <a id="help" class="navbar-link " data-track-type="click" data-track-event="edx.bi.help.clicked"
               href="{{ help_url }}" target="_blank">
               <div class="btn-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path d="M11,3a8,8,0,1,0,8,8A8,8,0,0,0,11,3Zm.8,13.6H10.2V15h1.6Zm1.656-6.2-.72.736A2.723,2.723,0,0,0,11.8,13.4H10.2V13a3.22,3.22,0,0,1,.936-2.264l.992-1.008A1.564,1.564,0,0,0,12.6,8.6a1.6,1.6,0,0,0-3.2,0H7.8a3.2,3.2,0,0,1,6.4,0A2.546,2.546,0,0,1,13.456,10.4Z" transform="translate(-3 -3)"/>
                </svg>
                {% trans "Help" %} 
              </div></a>
          </li>
        {% endif %}
        <li class="dropdown">
          <button class="dropdown-toggle active-user navbar-link" data-toggle="dropdown"
             aria-controls="userDropdownMenu" id="userMenu">
            <span class="sr-only">{% trans "Menu for" %}</span>
            <span class="active-user-name">{{ request.user.username }}</span>
            <span class="ico ico-indicator fa fa-caret-down" aria-hidden="true"></span>
          </button>

          <div id="userDropdownMenu" class="dropdown-menu active-user-nav" tabindex="-1"
          aria-labelledby="userMenu">
            <ul>
              <li>
                {% captureas logout_url %}{% url 'logout' %}{% endcaptureas %}
                <a class="active-user-nav-logout" href="{{ logout_url }}" data-track-type="click"
                    data-track-event="edx.bi.ui.menu.navigated" data-track-text="Logout"
                    data-track-url="{{ logout_url }}" data-track-target-scope="insights"
                    data-track-target-lens="logout" data-track-menu-depth="home" data-track-link-name="logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
                      <path
                        d="M8 0a6.965 6.965 0 00-3.842 1.147.5.5 0 00.55.836 6 6 0 11-.329 9.8.502.502 0 00-.605.8A6.933 6.933 0 008 14 7 7 0 008 0z">
                      </path>
                      <path
                        d="M1.707 7.5H9.5a.5.5 0 000-1H1.707l1.647-1.646a.5.5 0 00-.708-.708l-2.5 2.5a.518.518 0 00-.109.163.505.505 0 000 .382.518.518 0 00.109.163l2.5 2.5a.5.5 0 00.708-.708z">
                      </path>
                    </svg>
                    {% trans "Logout" %}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- / navbar-collapse -->
  </div>
  <!-- / container -->
</header>
<!-- / navbar -->
